attrs==19.1.0
Click==7.0
Flask==1.0.2
flask-jsontools==0.1.1.post0
gunicorn==19.9.0
inflect==2.1.0
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==3.0.1
jsontools==0.1
MarkupSafe==1.1.1
psycopg2==2.8.1
pyrsistent==0.14.11
PyYAML==5.1
simplejson==3.16.0
six==1.12.0
sqlacodegen==2.0.1
SQLAlchemy==1.3.2
sqlathanor==0.4.0
validator-collection==1.3.4
Werkzeug==0.15.2
